/*navigation*/
#main-nav .container{
    grid-template-columns: 1fr;
    grid-gap: 1.2rem;
    
}


#home-articles .articles-container {
    grid-template-columns: repeat(2, 1fr);
    
}
#section .container-contact .code{
    grid-template-columns: repeat(2, 1fr);
}

@media(max-width:600px){
    #showcase  .showcase-container,
    #home-articles .articles-container,
    #main-footer .footer-container {   
     grid-template-columns: 1fr;

   }
   #main-nav .container{
    size: 1.5rem;
   }


   #main-footer .footer-container > *:last-child{
    grid-column: 1;
   }
   #main-footer .footer-container > *{
    border-bottom: #444 dotted 1px;
    padding-bottom: 1rem;
   }
   #main-footer .footer-container > *:first-child,
   #main-footer .footer-container > *:nth-child(4){
    border-bottom: none;
    padding-bottom: 1rem;
   }
   .page-container {
    grid-template-columns: 1fr;
    text-align: center;
   }
   .l-heading{
    font-size: 2rem;
   }
   #section .cantainer{
    grid-template-columns: 1fr;
   }
   #section .container-contact .code{
    grid-template-columns: 1fr;
   }
}
